<!doctype html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155116865-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155116865-1');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155116865-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155116865-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
	
<link href="img/favicon.png" rel="icon">
<style>
.jconfirm-box {background-color:#262626 !important; width:80%}
.jconfirm-content{color:white !important}
</style>


</head>
<div class="se-pre-con"></div>
	<link rel="stylesheet" href="css/style4.css">   
	<link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link href="css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/fontawesome/css/all.css"> <!-- load fontawesome -->
    <link href="css/ics_crime.css" rel="stylesheet">    
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-confirm.js"></script>

<body>

{{{ body }}}

	<footer>
		<div class="footer-area-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="copyright text-center">
							<p style="color: rgba(245, 245, 245, 0.692)">
								 Copyright &copy; 2020 Peel9. All Rights Reserved
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>



</body>
<script>
    //code by @nordfjord -- Auto Resizing Charts

    //code by @nordfjord -- Auto Resizing Charts

</script>
</html>